@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Post jobs. Find employees. Career Cloud finds you the right talent for your open positions — delivering a quicker, easier way to post a job and find qualified candidates.</p>
