@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    101 Bloor Street <br />
    Toronto, ON 647-9999-7777<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@careercloud.com">Support@careercloud.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@careercloud.com">Marketing@careercloud.com</a>
</address>