@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Career Cloud</h1>
    <p class="lead">Post jobs. Find employees. Career Cloud finds you the right talent for your open positions — delivering a quicker, easier way to post a job and find qualified candidates.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>   
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2>For Employers</h2>
        <p>
            Post jobs. Find employees.
        </p>        
        
        <p><a class="btn btn-default" href="~/CompanyProfile/index">Learn more &raquo;</a></p>
       
</div>
    <div class="col-md-4">
        <h2>Latest Job Postings</h2>
        <p>Search jobs</p>
        <p><a class="btn btn-default" href="~/CompanyJob/index/companyId">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>For Job Seekers</h2>
        <p>Apply for jobs.</p>
        <p><a class="btn btn-default" href="~/ApplicantProfile/index">Learn more &raquo;</a></p>
    </div>
</div>